<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="icon" href="img/LOGO-COMPUTER_GAMER.png" sizes="32x32" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <section class="about-us">
      <div class="breadcrumb">
        <p>Home &gt; Nosotros</p>
      </div>
      <h1>Nosotros</h1>
    </section>

    <section class="about-uss">
      <!-- Contenedor de texto -->
      <div class="about-text">
        <div class="about-title">Nuestro Compromiso</div>
        <div class="about-description">
          En COMPUTER GAMER, nos enorgullecemos de ofrecer computadoras y
          accesorios de alta calidad a nuestros clientes. Nos dedicamos a
          proporcionar soluciones tecnológicas que se adapten tanto a gamers
          como a profesionales, garantizando rendimiento y durabilidad en cada
          producto.
        </div>
      </div>

      <!-- Imagen -->
      <img src="img/about/about1.jpg" alt="Store Image" class="about-image" />
    </section>

    <section class="shop-com">
      <!-- Imagen -->
      <img src="img/about/about2.jpg" alt="Store Image" class="shop-image" />

      <!-- Contenedor de texto -->
      <div class="shop-text">
        <div class="shop-title">Nuestra Historia</div>
        <div class="shop-description">
          Desde nuestra fundación, hemos crecido y evolucionado para
          convertirnos en líderes en el mercado de tecnología y gaming. Lo que
          comenzó como un pequeño negocio ha florecido en una tienda de
          tecnología reconocida, gracias a la lealtad de nuestros clientes y a
          nuestro enfoque en productos de calidad.
        </div>
      </div>
    </section>

    <section class="safe-hands">
      <!-- Contenedor de texto -->
      <div class="safe-hands-text">
        <div class="safe-hands-title">Nuestros Productos</div>
        <div class="safe-hands-description">
          Ofrecemos una amplia gama de productos, desde computadoras de alto
          rendimiento y componentes hasta accesorios especializados para gaming.
          Con marcas de primer nivel y la última tecnología, estamos preparados
          para satisfacer las necesidades de nuestros clientes, sin importar su
          nivel de experiencia.
        </div>
      </div>

      <!-- Imagen -->
      <img
        src="img/about/about3.jpg"
        alt="Store Image"
        class="safe-hands-image"
      />
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
