<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="img/LOGO-COMPUTER_GAMER.png" sizes="32x32">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation')%>
    <div class="Formulario">
        <h1>Inicio de sesión</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="contraseña">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">¿Olvidó su contraseña?</div>
            <input type="submit" value="Iniciar">
            <div class="registrarse">
                Quiero hacer el <a href="#">registro</a>
            </div>
        </form>
    </div>
    <%- include('partials/footer') %>
</body>
</html>