<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Gamer Navigation Bar</title>
    <link rel="stylesheet" href="css/main.css">
    <%- include('partials/head') %>
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <%- include('partials/navigation')%>
            <img src="/src/public/img/LOGO-COMPUTER_GAMER.webp" alt="Computer Gamer Logo">
        </div>
    </header>
</body>
</html>
