* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formulario {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #2a2f35;
    outline: none;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.recordar {
    margin-bottom: 20px;
    text-align: right;
    color: #007BFF;
    font-size: 14px;
}

.recordar:hover {
    text-decoration: underline;
    cursor: pointer;
}

input[type="submit"] {
    background: linear-gradient(to top, #000, #333); /* Negro con difuminado */
    color: #fff; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: linear-gradient(to top, #333, #666); /* Difuminado más claro al pasar el cursor */
}

.registrarse {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.registrarse a {
    color: #007BFF;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}
