<footer>

    <div class="social-icons" >
        <small>Siguenos en:</small>
        <a href="https://www.facebook.com" target="_blank" >
        <img src="/img/logo_facebook.png" alt="Facebook" >
        </a>
        <a href="https://www.instagram.com" target="_blank" >
        <img src="/img/logo_instagram_2.png" alt="Instagram" >
        </a>
        <a href="https://www.linkedin.com" target="_blank" >
        <img src="/img/logo_linkedin.png" alt="Twitter">
        </a>
    </div>
    <p>&copy; <%= new Date().getFullYear() %> ComputerGamer. Todos los derechos reservados.</p>
</footer>
