<footer>
    <p>&copy; <%= new Date().getFullYear() %> ComputerGamer. Todos los derechos reservados.</p>
    <div style="margin-top: 10px;">
        <small>Siguenos en:</small>
        <a href="https://www.facebook.com" target="_blank" style="margin: 0 10px;">
        <img src="/img/logo_facebook.png" alt="Facebook" width="25">
        </a>
        <a href="https://www.instagram.com" target="_blank" style="margin: 0 20px;">
        <img src="/img/logo_instagram_2.png" alt="Instagram" width="25">
        </a>
        <a href="https://www.linkedin.com" target="_blank" style="margin: 0 10px;">
        <img src="/img/logo_linkedin.png" alt="Twitter" width="25">
        </a>
    </div>
</footer>
