<link rel="stylesheet" href="/src/public/css/main.css">
<header class="head_cg">
    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe aliquid dignissimos aut qui eius, sit ea voluptate magni sed distinctio, soluta possimus harum. Illo odio atque aut voluptates eius illum.</p>
    </div>
</header>