<nav>
    <ol>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">Sobre Nosotros</a>
        </li>
        <li>
            <a href="/contact">Contáctanos</a>
        </li>
        <li>
            <a href="/catalogo">Dale click para que salga catologo</a>
        </li>
    </ol>
</nav>
